{% extends "basic.html" %}

{% block content %}
  <h1>Apply for Job</h1>
  <form method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{ form.name.label }}
      {{ form.name(class="form-control") }}
    </div>
    <div class="form-group">
      {{ form.email.label }}
      {{ form.email(class="form-control") }}
    </div>
    <div class="form-group">
      {{ form.resume.label }}
      {{ form.resume(class="form-control-file") }}
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
{% endblock %}
