<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>Job Post Form</title>
</head>
<body>
  <div class="container mt-5">
    <h1 class="text-center">Job Post Form</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <div class="form-group">
          {{ form.title.label }}
          {{ form.title(class="form-control") }}
        </div>
        <div class="form-group">
          {{ form.description.label }}
          {{ form.description(class="form-control") }}
        </div>
        <div class="form-group">
          {{ form.requirements.label }}
          {{ form.requirements(class="form-control") }}
        </div>
        <div class="form-group">
          {{ form.location.label }}
          {{ form.location(class="form-control") }}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </body>
  </html>
  