{% extends "basic.html" %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
  <ul class="flashes">
    {% for category, message in messages %}
      <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
  <h1>Create a Resume</h1>
  <form method="post">
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{ form.linkedIn.label }}
      {{ form.linkedIn(class="form-control") }}
    </div>
    <div class="form-group">
      {{ form.Phone.label }}
      {{ form.Phone(class="form-control") }}
    </div>
    <div class="form-group">
      {{ form.objective.label }}
      {{ form.objective(class="form-control") }}
    </div>
    <div class="form-group">
      {{ form.experience.label }}
      {{ form.experience(class="form-control") }}
    </div>
    <div class="form-group">
      {{ form.education.label }}
      {{ form.education(class="form-control") }}
    </div>
    <div class="form-group">
      {{ form.skills.label }}
      {{ form.skills(class="form-control") }}
    </div>
    <div class="form-group">
      <a href="{{ url_for('home') }}" class="btn btn-secondary">Submit</a>
    </div>


  </form>
{% endblock %}
